@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/src/assets/fonts/Pretendard-Regular.ttf');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/src/assets/fonts/Pretendard-Medium.ttf');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/src/assets/fonts/Pretendard-Bold.ttf');
}

:root {
  --black-color: #1f1411;
  --gray-bg-color: #f6f6f6;
  --main-color: #ff9432;
  --main-bg-color: #fff5ec;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pretendard-Regular';
  color: var(--black-color);
  background: var(--gray-bg-color);
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  margin: 0;
}
